#voltar {
	position: absolute;
	width: 30px;
	height: 30px;

	top: 30px;
	left: 30px;
}
#voltar span {
	pointer-events: none;
}
#voltar span:first-child{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 100%;
	height: 3px;
	background: black;
}
#voltar span:nth-child(2){
	position: absolute;
	top: 60%;
	left: 10%;
	transform: translate(-50%) rotate(45deg);
	
	width: 50%;
	height: 3px;
	background: black;
}
#voltar span:nth-child(3){
	position: absolute;
	top: 30%;
	left: 10%;
	transform: translate(-50%) rotate(-45deg);
	
	width: 50%;
	height: 3px;
	background: black;
}
main {
	display: flex;
	flex-direction: column;
	gap: 70px;
	padding-top: 70px;
}
section:first-child {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
section:first-child div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
section > h1 {
	font-size: 30px;
}
strong {
	font-weight: 900;
	font-size: 19px;
	letter-spacing: 2px;
}
